4 sem/СТП/Ещё всякое/workWithXML/src/main/java/files/shema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  xmlns:xs="http://www.w3.org/2001/XMLSchema" >

    <xs:element name="cards">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="card" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"></xs:element>
                            <xs:element type="xs:byte" name="number"/>
                            <xs:element type="xs:float" name="sum"/>
                        </xs:sequence>
                        <xs:attribute name="id" use="optional" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>